#footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: gray;
	color: white;
	text-align: center;
}

.dice {
	height: 140px;
	text-align: center;
	width: 21%;
	margin: 0 auto;
}

.up {
	margin-top: 50px;
}

.card {
	/*text-align: center;*/
	/*margin: auto;*/
	color: black;
}

.cardTitle {

}

.navBar {

}

.confirmButt {
	text-align: center;
	padding-top: 2%;
}

.new-form {
	text-align: center;
}

h1 {
	text-align: center;
	font-variant-caps: all-small-caps;
	color: white;
	padding: 15px;
}

body {
	background-color: #282c34;
	color: white;
	padding: 40px;
	font-family: Arial, Times, serif;
}






